<% - include ("templates/header") %>
    <header>Welcome to my page!</header>
    <a href ="/signup"><button>Sign Up</button></a>
    <a href="/login"><button>Login</button></a>
<% - include ("templates/footer")