<% - include ("templates/header") %>
    <header style = "font-size: 50px; margin-bottom: 25px;">Login</header>
    <p>Welcome! Please login with your username and password</p>
    <form method="post" action="/api/login">
        <label>Username:</label>
        <input type="text" name = "username" placeholder="Enter username">

        <label>Password:</label>
        <input type="text" name="password" placeholder="Enter password">
        <input type="submit" name="Submit" placeholder="Login">
    </form>
<% - include ("templates/footer") %>