<%- include("templates/header") %>
    <header>Login</header>
    <p>Welcome! Please login with your username and password</p>
    <form method="post" action="/api/login">
        
        <div class="form-outline mb-4">
            <label class="form-label" for="userNameForm" ></label>
            <input type="text" class="form-control" id="userNameForm" name= "username" placeholder="Enter username">
        </div>
      
      
        <input type="text" id="userPasswordForm" class="form-control" name="password" placeholder="Enter password">
        <label class="form-label" for="userPasswordForm" ></label>

        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                <label class="form-check-label" for="form2Example31"> Remember me </label>
              </div>
            </div>
    
            <div class="col">
              <!-- Simple link -->
              <a href="#!">Forgot password?</a>
            </div>
          </div>
          
        <div id="registrationSubmit">
        <input type="submit" class="btn btn-primary btn-block mb-4" name="Submit" placeholder="Login">
        </div>
        
      <div class="text-center">
        <p>Not a member? <a href="#!">Register</a></p>
        <p>or sign up with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>
    
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>
    
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>
    
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>
    </form>


<% - include ("templates/footer") %>