<% - include ("templates/header") %>
    <header style = "font-size: 50px; margin-bottom: 25px;">Sign up</header>
    <p>Welcome! Please signup with a username and password</p>
    <form method="POST" action = "/api/signup">
        <label>Username:</label>
        <input type="text" name = "username" placeholder="Enter username">

        <label>Password:</label>
        <input type="text" name="password" placeholder="Enter password">
        <input type="submit" name="Submit" placeholder="Sign up">
    </form>
    <div id="feedback"></div>
<% - include ("templates/footer") %>