<% - include ("templates/header") %>
    <p>Welcome User!</p>
    <div id="picture-container"></div>

    <a href="/"><button>Home</button></a>
    <button onClick="signout()">Sign out</button>

    <script>
        var images = [
          "download.png",
          "pokemon.png",
          "dog.png"
        ];
  
        // Function to display three random pictures
        function displayRandomPictures() {
          var pictureContainer = document.getElementById("picture-container");
  
          let randomNumber = Math.floor(Math.random() * images.length)
      
          var img = document.createElement('img')
          img.src = images[randomNumber];
          pictureContainer.append(img);
          
        }
        // Call the displayRandomPictures function when the page is loaded
        window.onload = displayRandomPictures;
      </script>
    <script>
        async function signout() {
            await fetch("http://localhost:8000/api/signout", {method: 'POST', body: 'a=1'});
            window.location.reload;
            return;
        }
    </script>
<% - include ("templates/footer") %>